@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html {
    background-color: #f1f1f1;
    font-family: Rubik, sans-serif;
}

.container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#buttonPoints {
    font-size: 25px;
    border-radius: 10px;
}

.hidden {
    display: none;
}